<h1>All dishes</h1>
<% @dishes.each do |dish| %>
  <p>Dishes: <%= dish.name %></p>
<% end %>
<%# <h1>All products</h1>
<% @products.each do |product| %>
  <%# <p>Product: <%= link_to product.title, product %>