<p class = 'mb-5'>
  Dishes found when searching for: <%= params[:keywords] %>
</p>
  <% @dishes_s.each do |dish| %>
    <p><%= link_to dish.name, dish %> category: <%= link_to dish.category.meal_time, dish %></p>
  <% end %>
<div class = 'smaller'><%= paginate @dishes_s%></div>