<p>This is the about page</p>
<p><strong>Some information about this site:</strong></p>
<p>I am pcreated a site with different recipes which are put into categories of breakfast, lunch, or dinner. I used Faker::Food, a csv and themealdb.com api as my data sources.
     There are 2 tables/models - Dish and Category. The Dish table has these columns: id, name, recipe, category_id, created_at and updated_at and is
     populated by using the Faker gem for the name column and themealdb.com api for the recipe column.
     The Category table has these columns: id, meal_time, created_at, and updated_at and the meal_time column will is with a csv file.
</p>
<p>Check out the categories <% @categories.each do |cat|  %></p>
  <p><%= link_to cat.meal_time, cat %></p>

<% end %>
<div>
  <p>Check out these dishes: <%= link_to 'All dishes link ðŸ•ðŸ—ðŸ¥£ðŸ½', dishes_path %> </p>
</div>